/* Navbar.module.css */
.navbar {
  background-color: hsl(234, 78%, 16%);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 60px;
}

.logo {
  font-size: 24px;
  font-weight: 700;
}

.navLinks {
  list-style: none;
  display: flex;
}

.navLinks li {
  margin-right: 1rem;
}

.navLinks a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.navLinks a:hover {
  color: #ddd;
}
